.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
}

.profile {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;


}

.logo{
    flex: 1 0 auto;
    margin: 1rem;
}

.footer a {
    margin: 1rem;
    font-size: 0.7em;
    width: fit-content;
}